body {
    background-image: linear-gradient( rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url('lk.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 130vh;
